:root {
    --treatment-legend-tg-bg-color: #FFFFFF11;
    --color-very-strong: #2e8b57; /* Very Effective / Very Safe */
    --color-strong: #ffd700; /* Effective / Safe */
    --color-moderate: #ff8c00; /* Somewhat Effective / Fairly Safe */
    --color-minimal: #ff0000; /* Minimally Effective / Minimal Safety */
    
    --color-transparent-very-strong: #2e8b5733;
    --color-transparent-strong: #ffd70033;
    --color-transparent-moderate: #ff8c0033;
    --color-transparent-minimal: #ff000033;
    
    --treatment-legend-row: #1111;
	--stronger-text: constrast(150%) saturate(250%);

    color-scheme: light dark;
}

@media (prefers-color-scheme: dark) {
	--color-very-strong: #4cF250;
	--color-strong: #ffFF3b;
	--color-moderate: #ff9800;
	--color-minimal: #f44336;

	--color-transparent-very-strong: #4caf5033;
	--color-transparent-strong: #ffeb3b33;
	--color-transparent-moderate: #ff980033;
	--color-transparent-minimal: #f4433633;

	--treatment-legend-row: transparent;
	--treatment-legend-odd-row: #44444151;
	--body-color: #ffffffc2;
}

table.treatment-legend {
    font-size: 70%;
    width: 100%;
    border-collapse: collapse;
    table-layout: auto;
    border: 1px solid var(--body-border-color);
}

table.treatment-legend tr {
	background-color: var(--treatment-legend-row);
}

table.treatment-legend tr:nth-child(odd), table.treatment-legend tr:nth-child(odd) > th {
    background-color: var(--treatment-legend-odd-row);
}

table.treatment-legend th, table.treatment-legend td {
    border: 1px solid var(--body-border-color);
    padding: .6vi; 
}

table.treatment-legend th {
    text-align: left;
    background-color: var(--treatment-legend-tg-bg-color);
}

table.treatment-legend td:has(.rating-bar) {
    height: 5vi; 
}

table.treatment-legend td:first-child {
    white-space: nowrap;
    width: 1%;
}

table.treatment-legend .rating-bar {
    width: 18vi;
    height: 1vi;
    top: 1.3vi;
    border: 0.115vi solid black; 
    border-radius: 1.15vi; 
    position: relative;
    background: linear-gradient(to right, 
        var(--color-transparent-very-strong) 0%, 
        var(--color-transparent-very-strong) 25%, 
        var(--color-transparent-strong) 25%, 
        var(--color-transparent-strong) 50%, 
        var(--color-transparent-moderate) 50%, 
        var(--color-transparent-moderate) 75%, 
        var(--color-transparent-minimal) 75%, 
        var(--color-transparent-minimal) 100%
    );
}

table.treatment-legend .indicator {
    position: absolute;
    z-index: 10;
    width: 0;
    height: 0;
    border-left: 0.4vi solid transparent;
    border-right: 0.4vi solid transparent;
    border-bottom: 1.3vi solid; 
    bottom: -0.115vi; 
}

table.treatment-legend .indicator span {
    position: absolute;
    top: -3vi;
    left: 0;
    white-space: nowrap;
    text-align: center;
    font-weight: semibold;
    font-size: 90%;
    filter: contrast(150%) saturate(250%);
}

table.treatment-legend .rating-bar .indicator-very-strong {
    color: var(--color-very-strong);
    border-bottom-color: var(--color-very-strong);
    right: 85%;
}

table.treatment-legend .rating-bar .indicator-strong {
    color: var(--color-strong);
    border-bottom-color: var(--color-strong);
    right: 60%;
}

table.treatment-legend .rating-bar .indicator-moderate {
    color: var(--color-moderate);
    border-bottom-color: var(--color-moderate);
    right: 35%;
}

table.treatment-legend .rating-bar .indicator-minimal {
    color: var(--color-minimal);
    border-bottom-color: var(--color-minimal);
    right: 10%;
}
