:root {

    --treatment-legend-tg-bg-color: #FFFFFF11;
	--treatment-legend-odd-row: #3333;
    --color-very-safe: #2e8b57;
    --color-safe: #ffd700;
    --color-moderate: #ff8c00;
    --color-unsafe: #ff0000;
    
    --color-transparent-very-safe: #2e8b5733;
    --color-transparent-safe: #ffd70033;
    --color-transparent-moderate: #ff8c0033;
    --color-transparent-unsafe: #ff000033;
    
    color-scheme: light dark;
}

@media (prefers-color-scheme: dark) {
    :root {

        --color-very-safe: #4caf50;
        --color-safe: #ffeb3b;
        --color-moderate: #ff9800;
        --color-unsafe: #f44336;

        --color-transparent-very-safe: #4caf5033;
        --color-transparent-safe: #ffeb3b33;
        --color-transparent-moderate: #ff980033;
        --color-transparent-unsafe: #f4433633;

        --body-color: #ffffffc2;
    }
}


table.treatment-legend {
	font-size: 70%;
    width: 100%;
    border-collapse: collapse;
    table-layout: auto;
    border: 1px solid var(--body-border-color);
}

table.treatment-legend tr:nth-child(odd), table.treatment-legend tr:nth-child(odd) > th {
	background-color: var(--treatment-legend-odd-row);
}

table.treatment-legend th, table.treatment-legend td {
    border: 1px solid var(--body-border-color);
    padding: .6vi; 
}

table.treatment-legend th {
    text-align: left;
    background-color: var(--treatment-legend-tg-bg-color);
}

table.treatment-legend td:has(.rating-bar) {
    height: 5vi; 
}

table.treatment-legend td:first-child {
    white-space: nowrap;
    width: 1%;
}

table.treatment-legend .rating-bar {
    width: 18vi;
    height: 1vi;
    top: 1.3vi;
    border: 0.115vi solid black; 
    border-radius: 1.15vi; 
    position: relative;
    background: linear-gradient(to right, 
        var(--color-transparent-very-safe) 0%, 
        var(--color-transparent-very-safe) 25%, 
        var(--color-transparent-safe) 25%, 
        var(--color-transparent-safe) 50%, 
        var(--color-transparent-moderate) 50%, 
        var(--color-transparent-moderate) 75%, 
        var(--color-transparent-unsafe) 75%, 
        var(--color-transparent-unsafe) 100%
    );
}

table.treatment-legend .indicator {
    position: absolute;
    z-index: 10;
    width: 0;
    height: 0;
    border-left: 0.4vi solid transparent;
    border-right: 0.4vi solid transparent;
    border-bottom: 1.3vi solid; 
    bottom: -0.115vi; 
}

table.treatment-legend .indicator span {
    position: absolute;
    top: -3vi;
    left: 0;
    white-space: nowrap;
    text-align: center;
    font-weight: semibold;
    font-size: 90%;
}

table.treatment-legend .rating-bar .indicator-very-safe {
	color:  var(--color-very-safe);
    border-bottom-color: var(--color-very-safe);
    right: 85%;
}

table.treatment-legend .rating-bar .indicator-safe {
	color:  var(--color-safe);
    border-bottom-color: var(--color-safe);
    right: 60%;
}

table.treatment-legend .rating-bar .indicator-moderate {
	color:  var(--color-moderate);
    border-bottom-color: var(--color-moderate);
    right: 35%;
}

table.treatment-legend .rating-bar .indicator-unsafe {
	color:  var(--color-unsafe);
    border-bottom-color: var(--color-unsafe);
    right: 10%;
}